/tmp
*/**/*un~
*/**/*.test
*un~
.DS_Store
*/**/.DS_Store
.ethtest
*/**/*tx_database*
*/**/*dapps*

#*
.#*
*#
*~
.project
.settings

# travis
profile.tmp
profile.cov

# IdeaIDE
.idea

# VS Code
.vscode

**/yarn-error.log


# block data
neatio/chaindata*
data/neatio*
data/side*
neatio/keystore*


# log
log/neatio
log/common

# command
bin

# start
start/

# data
data/

build/